@import "tailwind";
@import "prism";
@import "extra";
@import "bookmarks";

.headline b,
.headline strong {
    color: #45de6d;
    font-weight: inherit;
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
    @apply transition-colors
}
.prose :where(a):not(:where([class~="not-prose"] *)):not(:hover) {
    @apply text-primary-500 decoration-primary-500/25
}
.prose :where(figure):not(:where([class~="not-prose"] *)).alignleft {
    margin: 0.5em 0.75em 0.5em 0;
    float: left;
}
.prose :where(figure):not(:where([class~="not-prose"] *)).alignright {
    margin: 0.5em 0 0.5em 0.75em;
    text-align: right;
    float: right;
}
.prose > figure:first-child,
.prose figure:first-child + p {
    margin-top: 0 !important;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) a {
    @apply !text-amber-500 !decoration-amber-500/25
}
.dark\:prose-dark :where(blockquote):not(:where([class~="not-prose"] *)) a:hover {
    @apply !decoration-amber-500
}

.lg-menu-item::before {
    content: '';
    position: absolute;
    @apply inset-x-1 -bottom-px;
    height: 1px;
    margin: 0 auto;
    border-radius: 999px 999px 0 0;
    background: linear-gradient(to right, transparent 0%, #21c64d 25%, #85f0a1 50%, #21c64d 75%, transparent 100%);
    mix-blend-mode: color-burn;

    opacity: 0;

    @apply transition-all duration-100;
}

.lg-menu-item:hover::before {
    opacity: 1;
}

.alert {
    position: relative;
    padding: 0.4em 1em;
    border-left: 0.25rem solid var(--color);
}
.alert p {
    margin: 0;
}
.alert p + p {
    margin-top: 0.5em;
}

.Typewriter {
    display: inline;
}
