@import "tailwind";
@import "prism";
@import "extra";
@import "bookmarks";

.headline b,
.headline strong {
    color: #45de6d;
    font-weight: inherit;
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
    @apply transition-colors
}
.prose :where(a):not(:where([class~="not-prose"] *)):not(:hover) {
    @apply text-primary-500 decoration-primary-500/25
}
.prose :where(figure):not(:where([class~="not-prose"] *)).alignleft {
    margin: 0.5em 0.75em 0.5em 0;
    float: left;
}
.prose :where(figure):not(:where([class~="not-prose"] *)).alignright {
    margin: 0.5em 0 0.5em 0.75em;
    text-align: right;
    float: right;
}
.prose > figure:first-child,
.prose figure:first-child + p {
    margin-top: 0 !important;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) a {
    @apply !text-amber-500 !decoration-amber-500/25
}
.dark\:prose-dark :where(blockquote):not(:where([class~="not-prose"] *)) a:hover {
    @apply !decoration-amber-500
}


.alert {
    position: relative;
    padding: 0.4em 1em;
    border-left: 0.25rem solid var(--color);
}
.alert p {
    margin: 0;
}
.alert p + p {
    margin-top: 0.5em;
}

.Typewriter {
    display: inline;
}

@media screen and (max-width: 767px) {
    body[data-menu="hide"] #mobileMenu,
    body[data-menu="show"] #homeLink {
        display: none;
    }
    body[data-menu="show"] #mobileMenu,
    body[data-menu="hide"] #homeLink {
        display: initial;
    }
}