.bookmark-card {
    position: relative;
}
.bookmark-card .bookmark-container.has-thumbnail {
    display: grid;
    grid-template-columns: 1fr 128px;
    color: var(--tw-prose-quotes);
}
.bookmark-card .bookmark-container .bookmark-content {
    display: flex;
    flex-direction: column;
    padding: 0.4em 1em 0.4em 0;
}
.bookmark-card .bookmark-container .bookmark-content .bookmark-title {
    font-size: 1.25rem;
    line-height: 1;
}
.bookmark-card .bookmark-container .bookmark-content .bookmark-title a {
    color: #000;
}
.bookmark-card .bookmark-container .bookmark-content .bookmark-title .bookmark-subtitle {
    display: inline-block;
    font-size: 1.125rem;
    opacity: 0.75;
}
.bookmark-card .bookmark-container .bookmark-content .bookmark-title .bookmark-subtitle:empty {
    display: none;
}
.bookmark-card .bookmark-container .bookmark-content .bookmark-description {
    display: -webkit-box;
    overflow-y: hidden;
    margin: 0.75em 0;
    max-height: 3em;
    color: #000;
    line-height: 1.5em;
    opacity: 0.75;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.bookmark-card .bookmark-container .bookmark-content .bookmark-description:empty {
    display: none;
}
.bookmark-card .bookmark-container .bookmark-content .bookmark-metadata {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
}
.bookmark-card .bookmark-container .bookmark-content .bookmark-metadata .bookmark-icon {
    width: 18px;
    height: 18px;
    margin: 0;
}
.bookmark-card .bookmark-container .bookmark-content .bookmark-metadata span {
    color: #000;
    opacity: 0.75;
    height: 18px;
    line-height: 18px;
}
.bookmark-card .bookmark-container .bookmark-content .bookmark-metadata span:first-of-type {
    padding-left: 0.5em;
}
.bookmark-card .bookmark-container .bookmark-content .bookmark-metadata span + span::before {
    content: '\00a0\00a0\2215\00a0\00a0';
    position: relative;
    opacity: 0.35;
    transform: scale(0.5);
}
.bookmark-card .bookmark-container.has-thumbnail .bookmark-thumbnail {
    width: 128px;
    height: 128px;
}
.bookmark-card .bookmark-container.has-thumbnail .bookmark-thumbnail img {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0;
    border-radius: 0.5rem;
    object-fit: cover;
}

/* MOBILE */
@media only screen and (max-width: 960px) and (orientation: portrait) {
	.bookmark-card .bookmark-container.has-thumbnail {
		grid-template-columns: 100%;
		grid-template-rows: auto 1fr;
	}
    .bookmark-card .bookmark-container.has-thumbnail .bookmark-thumbnail {
        padding: 0 0 0.5em 8px;
		width: 100%;
		height: auto;
		order: -1;
	}
    .bookmark-card .bookmark-container.has-thumbnail .bookmark-thumbnail img {
        width: 100%;
        height: auto;
    }
}

@media (prefers-color-scheme: dark) {
    .bookmark-card .bookmark-container .bookmark-content .bookmark-title a,
    .bookmark-card .bookmark-container .bookmark-content .bookmark-description,
    .bookmark-card .bookmark-container .bookmark-content .bookmark-metadata span {
        color: #fff;
    }
}